name: Manage PR

on:
  pull_request:
    branches:
      - main
      - release
  pull_request_review:
    types: 
      - submitted
      - edited

jobs:
  manage-pr:
    name: Manage PR
    uses: dot-base/.github/.github/workflows/manage-pr.yml@main
    secrets:
      GH_BOT_USER: ${{ secrets.GH_BOT_USER }}
      GH_BOT_PAT: ${{ secrets.GH_BOT_PAT }}
      CR_PAT: ${{ secrets.CR_PAT }}
